.logo {
  transition-duration: .2s;
  animation: App-logo-float infinite 29s linear;
}

.logo:hover {
  transition-duration: .2s;
  transform: scale(1.02);
}

.logo:active {
  transition-duration: 21ms;
  transform: scale(.98);
}

@keyframes App-logo-float {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(359deg);
  }
}
